/* Creat a body class */

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 239, 239);
  color: rgb(57, 57, 57);
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 10px 0;
}

a {
  color: rgb(79, 4, 183);
  font-size: 20px;
  text-decoration: none;
  font-weight: 300;
}

.dark a {
  color: pink;
}

/* 
p {
  margin: 0px;
  font-size: 20px;
} */

/* 
.square h2 {
  margin: 50px 0 10px 0;
} */

/* Make sure the switch for dark mode is always on the right */

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

/* .top-bar {
  float: left;
} */

/* Create a light and dark mode switch relative to the page instead of using flex display*/
.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  /* box-shadow: inset 4px 4px 4px rgb(255, 255, 255);
  box-shadow: inset -4px -4px 4px rgb(195 193 198 / 90%); */
}

/* Create a "dark class" used in js*/
.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(168, 128, 227);
  position: absolute;
  top: 5px;
  left: 45px;
}

/* .moon:hover {
  box-shadow: 4px 4px 0 0 rgb(168, 128, 227);
} */

/* Get the element class "dark", and look for child with the class name "flicker" */
/* Class "dark" is added from javascript */
.dark .flicker {
  transform: translateX(40px);
  /* transition: 0.3s; */
}

/* Make sure all the text changes so white when in dark mode */
.dark>* {
  color: rgb(255, 255, 255)
}

/* Text size of main */
.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

/* Text size of main-text */
.main-text {
  width: 50%;
  padding: 30px;
}

/* Set the size for eh class "square" */
.card {
  width: 98%;
  margin: 1%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 20px rgba(68, 11, 238, 0.5);
}

.dark .square {
  background-color: rgb(71, 71, 71);
}


.sub-section {
  display: flex;
  flex-wrap: wrap;
}

/* 
.hero-image {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: red;
} */

/* .cube {
  position: absolute;
  width: 200px;
  height: 20px;
  background-color: green;
  transform: rotate(-25deg) skew(25deg);
} */

/* .cube::before {
  position: absolute;
  content: "";
  width: 81px;
  height: 100%;
  background-color: blue;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
} */

/* .cube::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 81px;
  background-color: blue;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
} */

/* #css {
  background-image: url("images/CA_State.jpg");
  background-size: cover;
} */

/* .btn {
  font-size: large;
  font-weight: 300;
  color: red;
} */


footer {
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 200px 10px;
  background-color: darkgray;

}

.dark footer {
  background-color: rgb(28, 28, 28);
}

/* Used to change the size when the page gets to 970 pixels so the squares collapse */
@media only screen and (min-width: 970px) {
  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}