body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 239, 239);
  color: rgb(57, 57, 57);
}
a {
  color: rgb(79, 4, 183);
  font-size: 20px;
  text-decoration: none;
  font-weight: 300;
}
p {
  margin: 0px;
  font-size: 20px;
}

.dark {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.dark {
  color: rgb(255, 255, 255);
  /* font-size: 20px; */
}
.dark p {
  color: black;
}
.dark h2,
h4,
h5,
h6
 {
  color: rgb(255, 255, 255);
}
.dark {
  color: rgb(255, 255, 255);
}
.dark h3 {
  color: rgb(255, 255, 255);
}
.dark .timeStamp {
  color: rgb(12, 11, 11);
}
.dark .card-content {
  background-color: rgb(57, 57, 57);
}
/* .dark card2 {
  background-color: rgb(255, 255, 255);
} */
h2 {
  font-stretch: wider;
  font-size: 25px;
  font-weight: 500;
}
h3 {
  font-stretch: wider;
  font-size: 25px;
  font-weight: 500;
}
h4 {
  font-stretch: wider;
  font-size: 25px;
  font-weight: 500;
}
h5 {
  font-stretch: wider;
  font-size: 25px;
  font-weight: 500;
}
h6 {
  font-stretch: wider;
  font-size: 20px;
  font-weight: 500;
}

.dark a {
  color: pink;
}
/* Make sure the switch for dark mode is always on the right */
header {
  display: flex;
  justify-content: right;
  padding: 0px;
}
/* Create a light and dark mode switch relative to the page instead of using flex display*/
.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}
.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
}
/* Create a "dark class" used in js*/
.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}
.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(168, 128, 227);
  position: absolute;
  top: 5px;
  left: 45px;
}
/* Get the element class "dark", and look for child with the class name "flicker" */
/* Class "dark" is added from javascript */
.dark .flicker {
  transform: translateX(40px);
}
/* Make sure all the text changes so white when in dark mode */
.dark>* {
  color: rgb(255, 255, 255)
}
.dark .square {
  background-color: rgb(71, 71, 71);
}
/* .dark .sub-section {
  background-color: rgb(28, 28, 28);
} */
.dark footer {
  background-color: rgb(28, 28, 28);
}